@model Betsy.Models.Bet

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Bet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BetId" />
            <div class="form-group">
                <label asp-for="FightObj.Fighter1" class="control-label"></label>
                <input asp-for="FightObj.Fighter1" class="form-control" />
                <span asp-validation-for="FightObj.Fighter1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FightObj.Fighter2" class="control-label"></label>
                <input asp-for="FightObj.Fighter2" class="form-control" />
                <span asp-validation-for="FightObj.Fighter2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FightObj.Event" class="control-label"></label>
                <input asp-for="FightObj.Event" class="form-control" />
                <span asp-validation-for="FightObj.Event" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Odds" class="control-label"></label>
                <input asp-for="Odds" class="form-control" />
                <span asp-validation-for="Odds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingDate" class="control-label"></label>
                <input asp-for="ClosingDate" class="form-control" />
                <span asp-validation-for="ClosingDate" class="text-danger"></span>
            </div>
        <input type="hidden" asp-for="User" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
