body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content2 {
    padding-left: 0;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
     /*Hide captions*/ 
    .carousel-caption {
        display: none;
    }
}

.betsy_link {
    height: 50px;
    width:150px;
}


/* parallax stuff */

.body2 {
    margin:0;
    padding:0;
}
#header_octagon {
    margin-top: 50px;
    height: 1080px;
    background: url('/images/octagon_image_3.jpg');
    background-size: cover;
    background-position: center center !important;
}
#logo {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-family:Pacifico;
    font-size:48px;
    color:white;
}
#content_anderson {
    font-family:Roboto, sans-serif;
    padding:5px;
    height: 1080px;
    opacity: 0.85;
    background: url('/images/anderson_silva.jpg')
}